/*1st part*/
.top_img_index{
    margin-top: 80px;
    margin-bottom: 10px;
    height: 600px;
    background-image: linear-gradient(to bottom right, #147AD9, #072949);
    display: flex;
    padding-inline: 3%;
    border-radius: 30px;
    .image{
        width: 30%;
    }
    img{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 2;
        height: 600px;
    }
    p{
        text-align: justify;
        color: gray;
        font-size: 20px;
        font-weight: bold;
    }
}
.left_text_index{
    z-index: 3;
    margin: auto;
    margin-right: 12%;
}
.right_text_index{
    z-index: 3;
    margin: auto;
    margin-left: 12%;
}
.bold{
    text-align: center !important;
    color: white !important;
    font-size: 40px !important;
    font-weight: bold !important;
}

/*2nd part*/

.middle_index{
    padding: 20px;
    display: flex;
    background: gray;
    border-radius: 30px;
}
.codes{
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    margin-inline: 10px;
    width: 45%;
    pre{
        border-top-left-radius: 30px;
        height: 600px;
    }
}
.title{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    background: #147AD9;
    width: 35%;
    margin-inline: auto;
    padding: 2px;
    border-radius: 30px;
    border: 3px solid black;
}

.three{
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 20px;
    display: block;
    background: gray;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    .row{
        display: flex;
        color: black;
        font-size: 17px;
        .card{
            border-radius: 20px;
            background: #ffffff;
            margin-inline: 10px;
            padding: 10px;
            width: 25%;
            justify-content: center;
            h3{
                height: 120px;
            }
            h3,p{
                padding-inline: 15px;
                text-align: center;
            }
            img{
                height: 200px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                width: 100%;
            }
            button{
                margin-inline: 35%;
                height: 35px;
                width: 70px;
                border-radius: 10px;
                border: none;
                background: #147AD9;
            }
            a{
                color: black;
                text-decoration: none;
            }
            button:hover{
                background: #1362a9;
                a {
                    color: white;
                }
            }
        }
    }
}

.four{
    margin-top: 20px;
    padding: 15px;
    display: flex;
    background: gray;
    border-radius: 30px;
    img{
        height: auto;
        width: 70%;
        border-radius: 30px;
        margin-right: 20px;
    }
    .flex{
        display: flex;
    }
    .card{
        border-radius: 20px;
        background: #ffffff;
        margin-inline: 10px;
        width: 100%;
        h2,p{
            margin: 15px;
            text-align: center;
        }
        p{
            font-size: 18px;
        }
        hr{
            height: 4px;
            background: gray;
        }
    }
}

@media (max-width: 450px) {

}
