.spacing{
    margin-block: 100px 20px;
}
.background{
    background: url("../images/stock/image_one.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    height: 575px;
    width: 100%;

}.message{
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     width: 60%;
     padding: 20px;
     text-align: center;
    border-radius: 20px;
 }
button{
    margin-inline: 15px;
    border: solid transparent 2px;
    background: #147AD9;
    padding: 7px 20px;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: black;
    }
}
button:hover{
    border: solid black 2px;
    color: #FFFFFF;
    background: #1362a9;
    a{
        text-decoration: none;
        color: white;
    }
}